<h1>Metropolitan State University of Denver</h1>
<h3>Login</h3>

<% if current_user %>
<%= link_to 'Courses', courses_url  %>
<%= link_to 'Sections', sections_url  %>
<%= link_to 'Students', students_url  %>
<br>
<%= link_to 'Sign_out', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'Sign_up', new_user_registration_path %>
<%= link_to 'Sign_in', new_user_session_path %>
<% end %>